.GnbButton {
    color: white;
    font-size: 25px;
    
    transition: 0.35s;
}
.GnbButton:hover {
    color: darkred;
    font-size: 30px;
    cursor: default;
}
.DropdownWeapons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100px;

    margin-left: 40px;
    color: white;

    font-size: 20px;

    transition: 0.4s;
}
.DropdownWeapons:hover {
    color: darkred;
}
.DropdownWeapons:hover .WeaponsDropdown {
    opacity: 1;
    pointer-events: all;
}
.WeaponsDropdown {
    transition: 0.4s;

    background-color: black;
    color: white;

    width: 120px;
    height: 140px;

    position: absolute;
    bottom: -140px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    overflow: hidden;
}
.WeaponsDropdown div{
    color: white;

    display: flex;
    align-items: center;

    padding: 0 0 0 7px;

    width: 120px;
    height: 100px;


    font-size: 16px;

    transition: 0.4s;
}
.WeaponsDropdown div:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
