.HeaderDescription {
    height: 300px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.HeaderDescriptionText {
    position: absolute;
    color: white;

    width: 1000px;
    text-align: center;
    font-size: 20px;
}
.HeaderDescriptionBackground {
    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: blur(3px);
}
.WeaponsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 200px;

    color: white;

    
    transform: 0.4s;
}
.WeaponsHeaderBackground {
    height: 100%;
    width: 100%;

    object-fit: cover;

    filter: blur(0px);

    transition: 0.4s;
}
.WeaponsTitle {
    position: absolute;
    font-size: 40px;

    transition: 0.4s;
}
.WeaponsText {
    position: absolute;
    font-size: 20px;
    width: 500px;
    padding-top: 50px;

    opacity: 0;
    transition: 0.4s;
}
.WeaponsHeader:hover .WeaponsHeaderBackground {
    filter: blur(3px);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}
.WeaponsHeader:hover .WeaponsTitle {
    padding-bottom: 100px;
}
.WeaponsHeader:hover .WeaponsText {
    opacity: 1;
}
.Weapons {
    width: 100%;
    height: 500px;

    display: flex;
}
.Weapons-Background {
    height: 100%;
    width: 100%;

    filter: blur(0px);
    

    transition: 0.4s;
}
.WeaponsLeftSection {
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WeaponsLeftTitleText {
    position: absolute;
    color: white;
    font-size: 40px;
    
    transition: 0.4s;
}
.WeaponsLeftTitleDescription {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    opacity: 0;
    width: 400px;
    
    transition: 0.4s;
}
.WeaponsLeftSection:hover .WeaponsLeftTitleText {
    padding-bottom: 100px;
}
.WeaponsLeftSection:hover .WeaponsLeftTitleDescription {
    opacity: 1;
}
.WeaponsLeftSection:hover .Weapons-Background {
    filter: blur(3px);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}
.WeaponsRightSection {
    width: 55%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: visible;
}
.WeaponsRightRowSection {
    height: 250px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.WeaponsRowSectionTitle {
    position: absolute;
    color: white;
    font-size: 30px;

    transition: 0.4s;
}
.WeaponsRowSectionDescription {
    position: absolute;
    color: white;
    padding-top: 50px;

    width: 250px;
    opacity: 0;

    transition: 0.4s;
}
.WeaponsRowImage {
    height: 100%;
    width: 100%;

    object-fit: cover;

    filter: blur(0px);

    transition: 0.4s;
}
.WeaponsRightRowSection:hover .WeaponsRowImage {
    filter: blur(3px);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}
.WeaponsRightRowSection:hover .WeaponsRowSectionTitle {
    padding-bottom: 75px;
}
.WeaponsRightRowSection:hover .WeaponsRowSectionDescription {
    opacity: 1;
}
.GridTemplateTwo {
    text-align: center;
    color: white;
}
.GridTemplateTwoGrid {
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2;
}
.GridTemplateTwoGridUnit {
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.GridTemplateTwoGridUnitBackgroundImage {
    width: 100%;
    height: 100%;

    object-fit: cover;
    filter: blur(0px);
    
    transition: 0.4s;
}
.GridTemplateTwoGridUnitTitle {
    position: absolute;
    transform: 0.4s;
    font-size: 30px;

    transition: 0.4s;
}
.GridTemplateTwoGridUnitText {
    position: absolute;
    transform: 0.4s;
    font-size: 20px;

    width: 400px;
    padding-top: 100px;

    transition: 0.4s;
    opacity: 0;
}
.GridTemplateTwoGridUnit:hover .GridTemplateTwoGridUnitBackgroundImage {
    filter: blur(3px);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}
.GridTemplateTwoGridUnit:hover .GridTemplateTwoGridUnitTitle {
    padding-bottom: 70px;
}
.GridTemplateTwoGridUnit:hover .GridTemplateTwoGridUnitText {
    opacity: 1;
}