header {
    background-color: black;

    height: 100px;
    padding: 0px 70px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;

    transition-duration: 0.4s;

    z-index: 100;
}

header:hover {
    background-color: rgb(36, 0, 0);
    cursor: default;
}

body{
    margin: 0;
    background-color: gray;
    padding: 100px 0px 1000px 0px;
}