/* For the main title text, probably sends you back to the home screen */
.GnbButton {
    color: white;
    font-size: 25px;

    margin-right: 30px;
    
    transition: 0.35s;
}
/* For the main title text button's hover effect */
.GnbButton:hover {
    color: darkred;
    font-size: 30px;
    cursor: default;
}
/* Configuration for the default dropdown buttons */

.DropdownWeapons, .DropdownMaps, .DropdownNations, .DropdownCosmetics,
.DropdownOthers {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 120px;


    color: white;

    font-size: 20px;

    transition: 0.4s;
}
/* Animation for the actual text for the dropdown button */
.DropdownWeapons:hover, .DropdownMaps:hover, .DropdownNations:hover,
.DropdownCosmetics:hover, .DropdownOthers:hover {
    color: darkred;
    background-color: black;
}
/* Hover effect for the drop downs */
.DropdownWeapons:hover .WeaponsDropdown, .DropdownMaps:hover .MapsDropdown,
.DropdownNations:hover .NationsDropdown, .DropdownCosmetics:hover .CosmeticsDropdown,
.DropdownOthers:hover .OthersDropdown{
    opacity: 1;
    pointer-events: all;
}
/* For the actual drop down container for the header elements */
.WeaponsDropdown, .MapsDropdown, .NationsDropdown, .CosmeticsDropdown, .OthersDropdown {
    transition: 0.4s;

    background-color: black;
    color: white;

    width: 120px;
    height: 140px;

    position: absolute;
    bottom: -140px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    overflow: hidden;
}
/* For the div/default configurations of the drop down text elements*/
.WeaponsDropdown div, .MapsDropdown div, .CosmeticsDropdown div, .OthersDropdown div{
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;

    display: flex;
    align-items: center;

    padding: 0 0 0 7px;

    width: 120px;
    height: 100px;



    transition: 0.4s;
}
/* For when the buttons inside the dropdown is hovered over */
.WeaponsDropdown div:hover, .MapsDropdown div:hover, .CosmeticsDropdown div:hover,
.OthersDropdown div:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
/* HOVER TEXTS */
.NationsDropdown {
    overflow: visible;

    bottom: -160px;


    height: 150px;
    width: 110px;

    padding: 5px 5px;

    display: flex;

    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}


/* INDIVIDUAL CONFIGURATION */
.SearchButtonBackground {
    border: none;
}
.SearchButton {
    height: 40px;
    width: 540px;

    background: none;
    border: none;   

    transition: 0.4s;
    outline: none;

    padding-left: 50px;

    color: white;
    border-bottom: 1px solid white;
}
.SearchButton:focus{
    border-bottom-color: darkred;
}
.SearchButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.SearchButtonImage {
    height: 20px;
}
.SearchButtonImageBackground {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    margin-top: 2px;
    transition: 0.4s;

    background: none;

    border: none;
    pointer-events: none;
}
.SearchButton::placeholder {
    color: white;
    font-family: Roboto;

    font-weight: 300;
    font-size: 15px;
}
