/* GAME INTRO DIV */
.GameIntro {
    width: 100%;
    height: 500px;

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.GameIntrotitle {
    color: white;

    position: absolute;

    width: 500px;
    padding-bottom: 300px;

    display: flex;
    justify-content: center;

    font-size: 40px;

    z-index: 1;
}
.GameIntroDescription {
    color: white;

    position: absolute;
    width: 1000px;

    display: flex;
    justify-content: center;

    font-size: 20px;

    z-index: 1;
}
.GameIntroImg {
    width: 100%;
    height: 500px;

    object-fit: cover;

    filter: blur(8px);
}
/* GAME DIRECTORY */
.GameDirectory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
}
.GameDirectoryImg {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.GameDirectoryTitle {
    position: absolute;

    color: white;
    font-size: 40px;

    padding-bottom: 50px;

    font-family: Roboto;
}
.GameDirectoryText {
    position: absolute;

    color: white;
    font-size: 20px;

    padding-top: 50px;

    font-family: Roboto;
}
/* GAME DIRECTORY GRID */
.GameDirectoryButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.GameDirectoryButton {
    width: 1fr;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.GameDirectoryButtonBackground {
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.4s;
}
.GameDirectoryButtonTitle {
    color: white;

    position: absolute;
    font-size: 40px;
}
.GameDirectoryButtonText {
    color: white;

    font-size: 20px;
    font-family: Roboto;

    position: absolute;
    padding-top: 100px;

    opacity: 0;
    transition: 0.4s;

    width: 500px;
    text-align: center;
}
.GameDirectoryButton:hover .GameDirectoryButtonBackground{
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}
.GameDirectoryButton:hover .GameDirectoryButtonText {
    opacity: 1;
}

/* GAME DIRECTORY MISCELLANEOUS */
.GameDirectoryMiscellaneous {
    height: 200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}
.GameDirectoryMiscellaneous:hover {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}
.GameDirectoryMiscellaneous:hover .MiscellaneousTitle{
    padding-bottom: 50px;
}
.GameDirectoryMiscellaneous:hover .MiscellaneousText {
    opacity: 1;
    padding-top: 50px;
}
.MiscellaneousBackground {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.MiscellaneousTitle {
    position: absolute;
    
    color: white;
    font-size: 40px;

    transition: 0.4s;
}
.MiscellaneousText {
    color: white;
    font-size: 20px;

    position: absolute;

    opacity: 0;

    transition: 0.4s;
}
/* DISCLAIMER */
.Disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;

    width: 100%;
    height: 500px;
}